.lead { 
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

.lead1 { 
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
} 

/* estilo texto vitrine */

.texto_vitrine, 
.texto_produto, 
.valorvitrine, 
.card-text, 
.card-title {
    text-align: center;
}

.valorvitrine {
    font-weight: bold;
}

/* estilo Breadcrumbs */

.breadcrumb {
    margin-top: 30px;
    background: #EEB422;
    
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #1C1C1C;
    border-radius: .25rem;
    
    
}

.breadcrumb >.active {
    color: #EEB422;
}

.breadcrumb >.active a:link {
     color: #ffffff;
}

a.breadcrumb-color :link {
    color: #ffffff;
}

a:hover {
    color:#ffffff;
}

a {
    color: #ffffff;
}

/* estilo top button */

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background-color: black;
  }

/* estilo cards button */

#a {
    background-color: black;
}

/* carolsel */

.imagem-carrossel {
    max-width: 1800px;
    width: 1300px;
    max-height: 600px;
    height: 500px;
    object-fit: cover;
    
}


/* cor icones */

.fab {
    color:black;
}

.seraqvai{
    position: absolute;
    bottom: 20px;
    left: 20px;
}


