.lead { 
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

.lead1 { 
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
} 

/* estilo texto vitrine */

.texto_vitrine, .texto_produto{
    text-align: center;
}

/* estilo Breadcrumbs */

.breadcrumb-item active {
    text-decoration-color: aqua;
}

/* estilo top button */

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background-color: black;
  }

/* estilo cards button */

#a {
    background-color: black;
}

/* carolsel */

.imagem-carrossel {
    max-height: 1800;
    max-height: 600;
    object-fit: cover;
}


/* cor icones */

.fab {
    color:black;
}


