

footer{
    font-style: bold;
}

.lead { 
    margin-left: 25%;
    margin-right: 25%;
    text-align: justify;
}

.lead1 { 
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
} 

/* style Breadcrumbs */

.breadcrumb-item active {
    text-decoration-color: aqua;
}

/* style top button */

#btn-back-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    background-color: blue;
  }